@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600;700&display=swap");

.bg-dots {
    background-image: url(./assets/dots.svg);
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}